

.orderForm{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background: url("") no-repeat center;
  /* background-size: 1000px; */
   
}

.orderbutton{
  /* margin:auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}
