.mapbutton{
  margin:auto;
  align-items: center;
  justify-content: center;
}


.massbutton{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;

 
 
 
}


.sizebutton{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
 }


 .volumebutton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


 .dateform{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
 }

.delivform{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
  justify-content: center;
}
